@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  background-color: rgb(234, 242, 255);
}

h1 {
  color: rgb(128, 79, 173);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: auto;
  font-size: 28px
}

h1 {
  color: rgb(128, 79, 173);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: auto;
  font-size: 24px
}

h3 {
  color: rgb(48, 76, 137);
  font-family: Roboto Condensed, sans-serif;
  margin: 15px auto;
  font-size: 20px;
}

h4 {
  color: rgb(128, 79, 173);
  font-family: Roboto Condensed, sans-serif;
  margin: 15px auto;
  font-size: 22px;
}

p {
  color: rgb(48, 76, 137);
  font-family: Open Sans, sans-serif;
}

.img-round{
  border-radius: 50%;
}

#button{
  transition: ease all 1s;
  background-color: rgb(70, 177, 201);
  color: rgb(247, 249, 252);
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  text-decoration: none;
  border-radius: 2px;
  padding: 10px 15px;
  margin: auto, 20px;
}

#button:hover {
  background-color: rgb(128, 79, 173);
}

.container {
  width: 900px;
  margin: 0 auto;
  position:relative;
}

.card-white {
  background-color: white;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(180, 205, 255, 0.2);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.scrollspy-example{
  position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 25px;
}

.list-inline a {
  color: rgb(128, 79, 173);
}

.list-inline a:hover {
  transition: ease all .5s;
  color: rgb(70, 177, 201);
}

#legenda {
  margin: 10px;
}


